{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / activity / add goal{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
  {% endblock %} 

{% block body %}
	{{ parent() }}
	

<script>
$(document).ready(function() {

	var autoSaveTimeout = null;

	$('#current_document').each(function(i,e) {
	 	var e = $(e);

		// Save current value of element
		e.data('oldVal', e.val());

		// Look for changes in the value
		e.bind("propertychange change click keyup input paste", function(event){
			// If value has changed...
			if (e.data('oldVal') != e.val()) {
				// Updated stored value
				if (e.data('oldVal').length > e.val().length) {
					e.val(e.data('oldVal'));
	       		} else if (e.data('oldVal') != e.val().substring(0, e.val().length-1)) {
	          		e.val(e.data('oldVal'));       
		       	} else {
		    		e.data('oldVal', e.val());
		       }
			}
			var html = e.val();
			e.focus().val("").val(html);
			e.scrollTop(e[0].scrollHeight);

			if( autoSaveTimeout != null) {
				clearTimeout(autoSaveTimeout);
			}
			autoSaveTimeout = setTimeout(function(){
				$('#save').trigger('click');
			}, 300);

   		});
 	});

 	$('#save').on('click', function(){
 		$('#date_updated').html("saving ...");
 		$.ajax("/write", {
 			method: 'POST',
 			dataType: 'json',
 			data: {
 				current_document: $('#current_document').val()
 			},
 			success: function(data) {
 				$('#date_updated').html(data.data.date_updated);
 			}
 		});
 	});
});
</script>

    <div class="clearfix"></div>

	<div class="row" >

		<div class="form-group ">
			<a class="btn btn-success" id="new" href="/write/new">New</a>
			<a class="btn btn-primary" id="save">Save</a>
			<small id="date_updated" >{{date_updated}}</small>
		</div>

		<form role="form" >
			<div class="form-group ">
				<textarea class="form-control noselect" name="current_document" id="current_document" rows="4" cols="150">{{current_document}}</textarea>
			</div>					

		</form>
	</div>
{% endblock %}

